h3{
	display: block;
	border: 10px solid #000;
	float: left;
	margin-left: -52px;
	width: 33%;
}

h5, h6{
	margin: 0;

}

.banner{
	background-color: green;
	height: 41px;
	width: 149px;
}

.bar{
	width: 10%;
	height: 100%;
	position: fixed;
	border: solid 1px #000;
}

.media{
	float: left;
	margin: 10%;
}

.wrapper{
	max-width: 2000px;
	max-height: 2000px;
	border: 1000px 1000px solid #000;
	margin: 0 auto;
}

.mid{
	display: block;
	width: 35%;
	float: left;
	border: solid 1px black;
	margin: 10px;
}

.right{
	display: block;
	width: 20%;
	float: left;
	border: solid 1px #000;
	margin: 10px;
}

.left{
	display: block;
	width: 20%;
	float: left;
	border: solid 1px #000;
	margin: 10px;
}


.line{

	margin-top: 50px;
	background-color: green;
	height: 3px;
	width: 100%;
	/*position: fixed;*/
	/*top: 30px;
	left: 30px;*/
	/*background-color: green;
	width: 100%;
	height: 100px;*/
	
	/*top: 30px;*/
	/*left: 30px;*/
}